Flask
Flask-SQLAlchemy
Flask-Login
Werkzeug
bcrypt
openai
python-dotenv
requests # Added for DeepInfra API calls
# deepinfra
Flask-Migrate
gunicorn
psycopg2-binary
boto3
Flask-Restful
pytest
pytest-flask
Flask-CORS # Add Flask-CORS for handling Cross-Origin Resource Sharing
Flask-Limiter==3.5.0
yt-dlp>=2023.12.30 # Added for YouTube audio extraction