{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form-signin text-center">
    <form method="POST" action="{{ url_for('login') }}">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required autofocus>
            <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            <label for="password">Password</label>
        </div>

        {# Simple Remember Me - Flask-Login handles this #}
        {# <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div> #}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-3 mb-1">
            Don't have an account? <a href="{{ url_for('register') }}">Register here</a>
        </p>
        <p class="mt-5 mb-3 text-muted">&copy; SocialNet <span id="current-year"></span></p>
    </form>
</div>
{% endblock %} 